body {
    margin: 0;
}

.wrapper {
    display: flex; /* выравнивание */
    align-items: center; /* выравнив по вертикали */
    border-top: 8px solid #a292b3;
    flex-direction: column; /* свойства положения */
}

.header {
    height: 130px;
    width: 1020px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* выравнивание по горизонт */
  }

.link-item {
    text-decoration: none;
    font-size: 19px;
    color: #545454;
    text-transform: capitalize; /* размер букв */
    margin-right: 65px;
}

.link-item:last-child {
    margin-right: 0;
}

.banner {
    width: 1020px;
    height: 485px;
    background-color: sandybrown;
    background-image: url('../images/baner.jpg'); /* добавление картинки */
    background-repeat: no-repeat; /* не повторять карт */
    background-position: center; /* позиция картинки */
    background-size: cover; /* положение картинки. cover - полное заполнение */
    color: white; /* белое всё что в bannere */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slide-btn {
    width: 35px;
    height: 65px;
    background-color: #82699d;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.banner-txt {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.banner-title {
    text-transform: capitalize;
    font-size: 117px;
    text-shadow: -4px 5px 0 rgba(0, 0, 0, .75);
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.banner-descr {
    text-transform: capitalize;
    font-size: 31px;
    text-shadow: -2px 2px 0 rgba(0, 0, 0, .45);
}

.tips{
    width: 1020px;
    border-top: 1px solid #bfbfbf;
    border-bottom: 1px solid #bfbfbf;
    padding: 20px 50px 25px 50px;
    margin-top: 40px;
    text-align: center;
    font-size: 23px;
    font-style: italic;
    line-height: 32px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tips-bold{
    font-weight: bold;
    color: #82699d;
}

.card{
    width: 1020px;
    padding: 0 22px;
    box-sizing: border-box;
    height: 315px;
    display: flex; /*всё в ряд*/
    position: relative;
    margin-top: 31px; 
    align-items: center;
}

.card-info{
    margin-left: 32px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.card-title{
    font-weight: bold;
    font-size: 31px;
}

.card-text{
    font-weight: 400;
    font-size: 15px;
    color: #838383;
}

.more{
    position: absolute; /*элемент сам по себе*/
    right: 0;
    bottom: 0;
    font-size: 13px;
    font-style: italic;
    color: #838383;
    cursor: pointer;
    transition: 0.4s;
}

.more:hover{
    color: purple;
    filter: hue-rotate(120deg); /*настройка цветовой схемы картинки*/
}

.divider{
    width: 1020px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 23px;
    display: flex; /*в ряд*/
    align-items: center;
}

.divider-text{
    white-space: nowrap; /*запрет переноса строк*/
}

.divider-line{
    width: 100%;
    margin-left: 8px;
    border-top: 6px dotted #bfbfbf;
}

.clients{
    width: 1020px;
    background-color: #f5f5f5;
    border: 1px solid #e4e4e4;
    display: flex;
    box-sizing: border-box;
    margin-top: 44px;
    margin-bottom: 61px;
}

.clients-items{
    width: 100%;
    height: 73px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #e4e4e4;
}

.clients-items:last-child{ /*последний элемент занулен*/
    border-right: none;

}

.footer{
    width: 100%;
    height: 67px;
    background: linear-gradient(to right, red 20%, yellow 40%, green 60%); /*задание градиентов: направление, цвет */
    display: flex;
    justify-content: center;
    display: flex; /* выравнивание */
    align-items: center; /* выравнив по вертикали */
    border-bottom: 8px solid #a292b3;
}

.footer-content{
    width: 1020px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social{
    width: 83px;
    display: flex;
    justify-content: space-between;
}

.menu{ /*меню в мобильной версии*/
    width: 80px;
    height: 80px;
    border: 3px solid #82699d;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
    
    display: none;
    align-items: center;
    justify-content: center;
}

.menu-line{ /*меню в мобильной версии, вложенный элемент*/
    width: 50px;
    height: 3px;
    background-color: #82699d;
    position: relative;
    transition: 0.3s;
}

.menu-line::before{ /*псевдоэлемент*/
    content: ""; /*для отображения*/
    width: 50px;
    height: 3px;
    background-color: #82699d;
    position: absolute;
    left: 0;
    bottom: 15px;
    transition: 0.3s;
}


.menu-line::after{ /*псевдоэлемент*/
    content: ""; /*для отображения*/
    width: 50px;
    height: 3px;
    background-color: #82699d;
    position: absolute; /*для движения относ родителя*/
    left: 0;
    top: 15px;
    transition: 0.3s;
}

.menu:hover > .menu-line{ /*> обращение к вложенному элементу*/
    background-color: transparent; /*прозрачный цвет*/
}

.menu:hover > .menu-line::after{ /* ">" обращение к вложенному элементу*/
    transform: rotate(-45deg); /*поворот на 45%*/
    top: 0;
}

.menu:hover > .menu-line::before{ /*> обращение к вложенному элементу*/
    transform: rotate(45deg); /*поворот на 45%*/
    bottom: 0;
}



@media screen and (max-width: 1020px) {  /*оптимизация сайта под разные версиии*/
    .header{
        width: 100%; /*адаптация каждого раздела */
        padding: 0 13px;
        box-sizing: border-box;
    }
    
    .logo{
        width: 150px;
    }

    .banner{
        width: 100%;
    }

    .banner-title{
        font-size: 70px;
    }

    .tips{
        width: 100%;
    }

    .card{
        width: 100%;
        flex-direction: column;
        height: auto; /*автовысота*/
    }

    .divider{
        width: 100%;
        justify-content: center;
    }

    .divider-text{
        font-size: 17px;
    }

    .divider-line{
        display: none;
    }

    .clients{
        width: 100%;
        flex-direction: column; /*помещение под элемент */
    }

    .footer-content{
        width: 100%;
        padding: 0 10px;
        box-sizing: border-box;
    }

    .links{
        display: none;
    }

    .menu{
        display: flex;
    }
}



/*pixel perfect* - в хроме. верстка пикс в пиксель*/


/*пробуем отпр*/

/*добавим*/